[Unit]
Description="Node Js Webapp 6225 Service"
After=network.target
Wants=mysqld.service

[Service]
EnvironmentFile=/opt/csye6225dir/webapp/.env
Type=simple
User=csye6225user
Restart=always
RestartSec=100ms
StartLimitInterval=0
WorkingDirectory=/opt/csye6225dir/webapp/
ExecStart=/usr/bin/npm start

[Install]
WantedBy=cloud-init.target